body{
    background-color: beige;
}
.container{
    display: flex;
    gap: 20px;
    background-color: violet;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(100,0,0);
}
.container>button{
    padding: 10px;
    background-color: greenyellow;
    margin: 10px;
    box-shadow: 5px 5px 3px rgb(10,0,0);
    border-radius: 8px;
}
#sub{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: teal;
    box-shadow: 5px 5px 5px rgb(150,150,150);
    color: white;
}
input{
    width: 250px;
    height: 30px;
    margin-top: 15px
}
h2{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
li{
    background-color: bisque;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.5rem;
    list-style-type: none;
}
.below{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.item{
    display: flex;
    gap: 10px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.del{
    height: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color: red;
    box-shadow: 5px 5px 5px rgb(100,0,0);
    color: beige;

}
.strike{
    text-decoration: line-through;
}
.left{
    flex: 1;
}
.upd{
    background-color: aquamarine;
    color: brown;
}